* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(245, 239, 218);
    background-image: url("bcg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login-box {
    background-color: rgb(255, 255, 255);
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 10px;
    border-radius: 6px;
    gap: 20px;
    box-shadow: rgba(28, 28, 28, 0.15) 10px 1.2rem 7rem;
}

.user-pass-div {
    width: 80%;
    padding: 6px 6px;  
    outline: none;
    border: 1.5px solid black;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.user-pass-div input {
    width: 93%;
    font-size: 18px;
    outline: none;
    font-size: 18px;  
    outline: none;
    border: none;
}

#pass-icon {
    cursor: pointer;
}

#remember-div {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login-btn {
    background-color: #42b72a;
    color: white;
    width: 60%;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

span {
    color: blue;
    cursor: pointer;
}

span:hover {
    text-decoration: underline;
}


/* Sign Up */
.sign-in-div {
    background-color: rgb(255, 255, 255);
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 10px;
    border-radius: 6px;
    gap: 15px;
    box-shadow: rgba(28, 28, 28, 0.15) 0px 1.2rem 7rem;
    display: none;
}

.sign-up-inner-divs {
    width: 80%;
    padding: 6px 6px;  
    outline: none;
    border: 1.5px solid black;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.sign-up-inputs {
    width: 93%;
    font-size: 18px;
    outline: none;
    font-size: 18px;  
    outline: none;
    border: none;
}

#confirm-pass {
    width: 80%;
    font-size: 18px;
    outline: none;
    font-size: 18px;  
    border: 1.5px solid black;
    border-radius: 18px;
    padding: 6px 6px; 
}

#Sign-Up-btn {
    background-color: #0866ff;
    color: white;
    width: 60%;
    border-radius: 10px;
    font-size: 18px;
    padding: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}

#or-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
}
#or-div p{
    margin: 0 5px;
}

#google-img {
    background-color: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#apple-img {
    background-color: none;
    width: 45px;
    height: 25px;
    cursor: pointer;
}

.google-apple-buttons {
    width: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    padding: 3px;
}

.google-apple-buttons p {
    margin: auto 1px;
}

.google-apple-buttons:hover {
    background-color: rgba(0, 0, 0, 0.219);
}


@media screen and (max-width : 450px) {
    .login-box {
        width: 75%;
    }
    .sign-in-div {
        width: 75%;
    }
    .user-pass-div input {
        width: 85%;
        font-size: 16px;
    }
    .sign-up-inputs {
        width: 85%;
    }
    #remember-div {
        font-size: 12px;
    }
}
@media screen and (max-width : 320px) {
    .login-box {
        width: 85%;
    }
    .sign-in-div {
        width: 85%;
    }
    .sign-up-inputs {
        width: 85%;
    }
    #remember-div {
        width: 90%;
        font-size: 12px;
    }
}

@media screen and (max-width : 370px) {
    #Continue-With-Google-div p {
        font-size: 13px;
    }
    #Continue-With-apple-div p {
        font-size: 13px;
    }
}